@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
  background-color: rgba(0, 0, 0, 0.829);
}
.header{
  text-align: center;
  margin-top: 2em;
  
}
.title{
  font-family: 'Source Code Pro', monospace;
}
.images{
  display: flex;
  flex-flow: row wrap;
  margin-top: 3em;
  margin-left: 3em;
}
.search-input{
  text-align: center;
}
.im{
  margin-left: 2em;
  margin-top: 2em;
  transition: transform 2s;
}
img:hover{
  transform: scale(1.1);
}
.show-details-page h1{
  text-align: center;
  color: white;
}