@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
  background-color: rgba(0, 0, 0, 0.829);
}
.header{
  text-align: center;
  margin-top: 2em;
  
}
.title{
  font-family: 'Source Code Pro', monospace;
}
.images{
  display: flex;
  flex-flow: row wrap;
  margin-top: 3em;
  margin-left: 3em;
}
.search-input{
  text-align: center;
}
.im{
  margin-left: 2em;
  margin-top: 2em;
  transition: transform 2s;
}
.im img:hover{
  transform: scale(1.1);
}
.show-details-page{
  display: flex;
}
.show-details-page h1,h4,p{
  color: white;
  
}
.show-details-page img{
 margin-left: 2em;
 margin-top: 2em;
 display: block;
}
.details{
  display: block;
  
}
.site-link{
  display:flex;
}
.site-link a{
  position:relative;
  left: 1em;
}
.details{
  display: block;
  margin-left: 2em;
  margin-top: 2em;
}